* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #15592f;
  color: #ffffff;
  padding: 20px;
}

button, input[type="text"] {
  padding: 10px;
  border-radius: 10px;
}

input[type="text"] {
  margin: 10px;
}

.buttonTasks {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.buttonTasks:first-child {
  margin: 10px;
}